<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
    </style>
</head>

<body>
    <page size="A4">
        <div style="height:85%">
            <div style="margin-left: 10%;margin-right:10%">
                <h3><b>THÔNG TIN CHUNG</b></h3>
                <p style="color: red;">(Hướng dẫn: mô tả các thông tin cơ bản của môn học)</p>
            </div>

            <div style="margin-left: 10%;margin-right:10%">
                <div>
                    <div class="column">
                        Tên môn học (tiếng Việt):
                    </div>
                    <div class="column">
                        ABC
                    </div>
                </div>
                <div>
                    <div class="column">
                        Tên môn học (tiếng Anh):
                    </div>
                    <div class="column">
                        ABC
                    </div>
                    <div>
                        <div class="column">
                            Mã số môn học:
                        </div>
                        <div class="column">
                            ABC
                        </div>
                    </div>
                    <div>
                        <div class="column">
                            Số tín chỉ:
                        </div>
                        <div class="column">
                            100
                        </div>
                        <div style="margin-left:30px">
                            <div>
                                <div class="column">
                                    Số tiết lý thuyết:
                                </div>
                                <div class="column">
                                    100
                                </div>
                            </div>
                            <div>
                                <div class="column">
                                    Số tiết thực hành:
                                </div>
                                <div class="column">
                                    100
                                </div>
                            </div>
                            <div>
                                <div class="column">
                                    Số tiết tự học:
                                </div>
                                <div class="column">
                                    100
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </page>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>